name: Sphinx docs to gh-pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  sphinx_docs_to_gh-pages:
    runs-on: ubuntu-latest
    name: Sphinx docs to gh-pages
    steps:
      - uses: actions/checkout@v2
      - name: Make conda environment
        uses: conda-incubator/setup-miniconda@v2    # https://github.com/conda-incubator/setup-miniconda
        with:
          python-version: 3.7
          environment-file: devtools/conda-envs/docs_env.yaml
          auto-update-conda: false
          auto-activate-base: false
          show-channel-urls: true
      - name: Installing the library
        shell: bash -l {0}
        run: |
          python setup.py install
      - name: Running the Sphinx to gh-pages Action
        uses: uibcdf/action-sphinx-docs-to-gh-pages@v1.0-beta.1

